force-app/main/default/flows/Content_Standard_Checklist_Master_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Criteria</name>
        <label>Check Criteria</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.aqi_ltng_mng__AQ_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.aqi_ltng_mng__Knowledge_Article_Version_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Publish_Subflow</targetReference>
            </connector>
            <label>Criteria Met</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Checklist Trigger - Publish Article {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Standard Checklist: Master After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Criteria</targetReference>
        </connector>
        <object>aqi_ltng_mng__Article_Quality__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Publish_Subflow</name>
        <label>Call Publish Subflow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Publish_Knowledge_Article_Subflow</flowName>
        <inputAssignments>
            <name>KnowledgeArticleVersionId</name>
            <value>
                <elementReference>$Record.aqi_ltng_mng__Knowledge_Article_Version_Id__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
