force-app/main/default/flows/Deactivate_Other_Entity_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Status_To_Inactive</name>
        <label>Set Status To Inactive</label>
        <locationX>156</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Active_Roles.Entity_Role_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEntityRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Active_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Active_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Other_Roles_Found</name>
        <label>Check If Other Roles Found</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_All_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Roles_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Active_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Active_Roles</targetReference>
            </connector>
            <label>Other Roles Exist</label>
        </rules>
    </decisions>
    <description>Subflow to deactivate other active Entity Role records with the same role for the same entity.</description>
    <environments>Default</environments>
    <interviewLabel>Deactivate Other Entity Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Other Entity Roles</label>
    <loops>
        <name>Loop_Through_Active_Roles</name>
        <label>Loop Through Active Roles</label>
        <locationX>68</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Other_Active_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_To_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Active_Roles</name>
        <label>Get Other Active Roles</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Other_Roles_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEntityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRoleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entity_Role_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varCurrentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entity_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Roles</name>
        <label>Update All Roles</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>varEntityRoleRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Other_Active_Roles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCurrentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entity_Role__c</objectType>
    </variables>
    <variables>
        <name>varEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEntityRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entity_Role__c</objectType>
    </variables>
    <variables>
        <name>varRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
