force-app/main/default/flows/Entity_Role_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Status_Is_Active</name>
        <label>Check Status Is Active</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity_Role_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Deactivate_Subflow</targetReference>
            </connector>
            <label>Status Is Active</label>
        </rules>
    </decisions>
    <description>Master flow that triggers when an Entity Role is created. If status is Active, calls subflow to deactivate other active roles with same role name for the same entity.</description>
    <environments>Default</environments>
    <interviewLabel>Entity Role Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entity Role Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_Is_Active</targetReference>
        </connector>
        <object>Entity_Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Deactivate_Subflow</name>
        <label>Call Deactivate Subflow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Deactivate_Other_Entity_Roles</flowName>
        <inputAssignments>
            <name>varCurrentRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEntityId</name>
            <value>
                <elementReference>$Record.Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRoleName</name>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
