force-app/main/default/flows/Publish_Knowledge_Article_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Publish_Article</name>
        <label>Publish Article</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>ArticleVersionIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>PUBLISH_ARTICLE_NEW_VERSION</stringValue>
            </value>
        </inputParameters>
        <nameSegment>publishKnowledgeArticles</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ArticleVersionIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KnowledgeArticleVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Article</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Article_Version.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Collection</targetReference>
            </connector>
            <label>Is Draft</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Publish Knowledge Article Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Knowledge Article Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Knowledge_Article_Version</name>
        <label>Get Knowledge Article Version</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeArticleVersionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article_Version</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ArticleVersionIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KnowledgeArticleVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
